### MISC ###

### AUTH ###
NEXTAUTH_URL=http://localhost:4200
NEXT_PUBLIC_ROOT_DOMAIN=localhost:4200
AUTH_SECRET=
### API ###
BASE_API_URL=
AUTH_API_URL=http://localhost:8080
### LOGGING ###
LOGGING_BROWSER_BEACON_PATH=/api/log
LOGGING_SERVICE_NAME=web