### ROOT ###
LOGGING_BROWSER_BEACON_PATH=/api/log
LOGGING_SERVICE_NAME=web
### AUTH ###
NEXTAUTH_URL=http://localhost:4200
NEXT_PUBLIC_ROOT_DOMAIN=localhost:4200
AUTH_SECRET=

### API ###
BACKEND_API_URL=http://localhost:8080