### AUTH ###
NEXTAUTH_URL=http://localhost:4200
AUTH_SECRET=887e60b6641844305d4a5bb2b9e97d258730c61bd7734ebcefc3c6e48f251a55
### LOGGING ###
NEXT_PUBLIC_LOGGING_BEACON_PATH=/api/log
LOGGING_SERVICE_NAME=ops
### APP ###
NEXT_PUBLIC_ROOT_DOMAIN=http://localhost:4200