### AUTH ###
NEXTAUTH_URL=http://localhost:4200
AUTH_SECRET=639134ffe0536fd417abdad3948c23047291afd2bf0a8abf74fc1e7db1ee11d7
### LOGGING ###
NEXT_PUBLIC_LOGGING_BEACON_PATH=/api/log
LOGGING_SERVICE_NAME=atro-ui
### APP ###
NEXT_PUBLIC_ROOT_DOMAIN=http://localhost:4200
### API ###
BACKEND_API_URL=http://localhost:8080